<a href="https://colab.research.google.com/github/Dhruvi1602/API_FILES/blob/main/Mentor_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment 1
# There is a data set named 'Balance scale data' in UCI.
# Link: https://archive.ics.uci.edu/ml/datasets/balance+scale

In [ ]:
# 'Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance'

In [1]:
import pandas as pd

In [2]:
column_names = ['Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [16]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=column_names)

In [17]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [18]:
df.shape

(625, 5)

In [21]:
df['Class Name'].unique()

array(['B', 'R', 'L'], dtype=object)

In [22]:
df['Class Name'].nunique()

3

In [23]:
X = df.iloc[:,[0,1,2,3,4]] 
X

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [24]:
y = df.iloc[:,-1]
y

0      1
1      2
2      3
3      4
4      5
      ..
620    1
621    2
622    3
623    4
624    5
Name: Right-Distance, Length: 625, dtype: int64

In [25]:
type(X)

pandas.core.frame.DataFrame

In [26]:
type(y)

pandas.core.series.Series

In [32]:
c = df.iloc[:,[1,2,3,4]]
c

     Left-Weight  Left-Distance  Right-Weight  Right-Distance
0              1              1             1               1
1              1              1             1               2
2              1              1             1               3
3              1              1             1               4
4              1              1             1               5
..           ...            ...           ...             ...
620            5              5             5               1
621            5              5             5               2
622            5              5             5               3
623            5              5             5               4
624            5              5             5               5

[625 rows x 4 columns]

In [34]:
df['Left-Weight'].mean()

3.0

In [35]:
df['Left-Distance'].mean()

3.0

In [36]:
df['Right-Distance'].mean()

3.0

In [37]:
df['Right-Weight'].mean()

3.0

In [53]:
df[["Right-Distance", "Right-Weight"]].describe()

       Right-Distance  Right-Weight
count      625.000000    625.000000
mean         3.000000      3.000000
std          1.415346      1.415346
min          1.000000      1.000000
25%          2.000000      2.000000
50%          3.000000      3.000000
75%          4.000000      4.000000
max          5.000000      5.000000

In [38]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [40]:
df["Total_R_L-Dist_weight"] = df.iloc[:,1:5].sum(axis=1)
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_R_L-Dist_weight
0,B,1,1,1,1,4
1,R,1,1,1,2,5
2,R,1,1,1,3,6
3,R,1,1,1,4,7
4,R,1,1,1,5,8
...,...,...,...,...,...,...
620,L,5,5,5,1,16
621,L,5,5,5,2,17
622,L,5,5,5,3,18
623,L,5,5,5,4,19
624,B,5,5,5,5,20

In [51]:
del df['Total_R_L-Dist_weight']

In [52]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [42]:
df_gb = df.groupby('Class Name')
df_gb

In [44]:
df_gb.get_group('L')

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_R_L-Dist_weight
25,L,1,2,1,1,5
50,L,1,3,1,1,6
51,L,1,3,1,2,7
55,L,1,3,2,1,7
75,L,1,4,1,1,7
...,...,...,...,...,...,...
619,L,5,5,4,5,19
620,L,5,5,5,1,16
621,L,5,5,5,2,17
622,L,5,5,5,3,18
623,L,5,5,5,4,19

In [45]:
df_gb.get_group('R').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Left-Weight               2.399306
Left-Distance             2.399306
Right-Weight              3.611111
Right-Distance            3.611111
Total_R_L-Dist_weight    12.020833
dtype: float64

In [47]:
df_gb.get_group('L').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Left-Weight               3.611111
Left-Distance             3.611111
Right-Weight              2.399306
Right-Distance            2.399306
Total_R_L-Dist_weight    12.020833
dtype: float64

In [48]:
df_gb.get_group('B').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Left-Weight               2.938776
Left-Distance             2.938776
Right-Weight              2.938776
Right-Distance            2.938776
Total_R_L-Dist_weight    11.755102
dtype: float64

In [55]:
df[["Class Name", "Left-Distance"]].groupby("Class Name").mean()

            Left-Distance
Class Name
B                2.938776
L                3.611111
R                2.399306

In [49]:
df.isnull()

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_R_L-Dist_weight
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
620,False,False,False,False,False,False
621,False,False,False,False,False,False
622,False,False,False,False,False,False
623,False,False,False,False,False,False
624,False,False,False,False,False,False

In [50]:
df.isnull().sum()

Class Name               0
Left-Weight              0
Left-Distance            0
Right-Weight             0
Right-Distance           0
Total_R_L-Dist_weight    0
dtype: int64

In [ ]:
# Assignment 2
# Write a function compute_dist() that accepts a list of values as input and outputs a dictionary
# storing the distribution of the data represented by the list. Here, distribution means tracking how
# many times each element is appearing in the given list.

# Ex Usage:
    # l1 = [3, 4, 2, 1, 5, 1, 2, 4, 3, 4]
    # d1 = compute_dist(l1)

# d1 should be {1: 2, 2: 2, 3: 2, 4: 3, 5: 1}

In [59]:
l1 =[3, 4, 2, 1, 5, 1, 2, 4, 3, 4]
def Compute_dist(l1):
    d = dict((x,l1.count(x)) for x in set(l1))
    return d

print("d1:",Compute_dist(l1))

d1: {1: 2, 2: 2, 3: 2, 4: 3, 5: 1}